:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  background-color: #e5e5e5;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
}
